@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FDFBF7;
  }
}

@layer utilities {
  /* Hide scrollbar for cleaner mobile look */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .illustration-filter {
    filter: sepia(20%) contrast(90%) brightness(110%);
  }
}
